---
import { getImage } from 'astro:assets';
import { layers, blocks, columns, rows } from '@/data';
import '@/styles/icons.css';
import '@/styles/main.css';
import Info from '@/components/info.astro';
import Controls from '@/components/controls.astro';
import Stone from '@/assets/stone.png';
import Pickaxe from '@/assets/pickaxe.png';
import Grass from '@/assets/grass_side_carried.png';
import GrassTop from '@/assets/grass_carried.png';
import Dirt from '@/assets/dirt.png';
import Log from '@/assets/log_oak.png';
import Wood from '@/assets/oak_planks.png';
import LogTop from '@/assets/log_oak_top.png';
import Glass from '@/assets/glass.png';
import Leaves from '@/assets/azalea_leaves.png';

const stoneImage = await getImage({ src: Stone });
const pickaxeImage = await getImage({ src: Pickaxe });
const grassImage = await getImage({ src: Grass });
const grassTopImage = await getImage({ src: GrassTop });
const dirtImage = await getImage({ src: Dirt });
const logImage = await getImage({ src: Log });
const woodImage = await getImage({ src: Wood });
const logTopImage = await getImage({ src: LogTop });
const glassImage = await getImage({ src: Glass });
const leavesImage = await getImage({ src: Leaves });
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="A Minecraft clone made with pure HTML & CSS - no JavaScript."
    />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Minecraft</title>

    <link rel="icon" href="../assets/icon.png" />
  </head>
  <body>
    <Info />
    <Controls />
  </body>
</html>

<style
  define:vars={{
    layers,
    columns,
    rows,
    'stone-image': `url(${stoneImage.src})`,
    'grass-image': `url(${grassImage.src})`,
    'dirt-image': `url(${dirtImage.src})`,
    'log-image': `url(${logImage.src})`,
    'wood-image': `url(${woodImage.src})`,
    'leaves-image': `url(${leavesImage.src})`,
    'glass-image': `url(${glassImage.src})`,
    'pickaxe-image': `url(${pickaxeImage.src})`,
    'grass-top-image': `url(${grassTopImage.src})`,
    'log-top-image': `url(${logTopImage.src})`,
  }}
>
  body {
    color: white;
    background-color: lightskyblue;
    block-size: 100dvb;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
    overflow: hidden;
    display: grid;
    place-content: center center;
  }
</style>
