---
import CubesContainer from '@/components/cubes-container.astro';
import MoveButtonPair from '@/components/move-button-pair.astro';
import { blocks, columns, layers, rows } from '@/data';
import '@/styles/icons.css';
import '@/styles/main.css';
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' href='/icon.png' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <meta name='generator' content='Minecraft clone made with Astro' />

    <title>Astro Minecraft</title>
  </head>
  <body>
    <!-- Info -->
    <section class='info'>
      <div class='text'>
        <h1>Astro Minecraft</h1>
        <p>
          | <strong>There is no JavaScript on this page.</strong> All the logic is
          made 100% with pure HTML & CSS. For the best performance, please close
          other tabs and running programs.<br />
        </p>
        <p class='not-supported'>
          | ⚠︎ Your browser does not support the <a
            href='https://developer.mozilla.org/en-US/docs/Web/CSS/:has'
            >CSS <code>:has()</code> pseudo-class</a
          >, which is needed for this site to work. | Please update it: Chromium
          version ≥ 105, Safari version ≥ 15.4 or Firefox version ≥ 121 is
          required.
        </p>
      </div>
      <label class='close' title='close'>
        <input type='checkbox' />
      </label>
    </section>

    <!-- Controls -->
    <section class='controls'>
      <div class='block-chooser'>
        <span class='label'>Block type</span>
        {
          blocks.map((block) => (
            <label class={block} title={block}>
              <input
                type='radio'
                name='block-type'
                checked={block === 'stone' ? 'checked' : ''}
              />
            </label>
          ))
        }
      </div>

      <div class='move-buttons'>
        <MoveButtonPair
          title='Vertical'
          firstButtonClass='up icon:arrow-circle-up'
          firstButtonTitle='Move upwards'
          secondButtonClass='down icon:arrow-circle-down'
          secondButtonTitle='Move downwards'
        />
        <MoveButtonPair
          title='Horizontal'
          firstButtonClass='forwards icon:arrow-upward'
          firstButtonTitle='Move forwards'
          secondButtonClass='backwards icon:arrow-downward'
          secondButtonTitle='Move backwards'
        />
        <MoveButtonPair
          title='Rotation'
          firstButtonClass='clockwise icon:rotate-right'
          firstButtonTitle='Rotate clockwise'
          secondButtonClass='counterclockwise icon:rotate-left'
          secondButtonTitle='Rotate counterclockwise'
        />
        <MoveButtonPair
          title='View'
          firstButtonClass='look-up icon:keyboard-arrow-up'
          firstButtonTitle='Look up'
          secondButtonClass='look-down icon:keyboard-arrow-down'
          secondButtonTitle='Look down'
        />
      </div>
    </section>
    <main>
      <div class='content'>
        <div class='look-up'>
          <div class='look-down'>
            <div class='initial-camera-position'>
              <div class='up'>
                <div class='down'>
                  <div class='forwards'>
                    <div class='backwards'>
                      <div class='clockwise'>
                        <div class='counterclockwise'>
                          <div class='blocks'>
                            {
                              Array.from({ length: layers }).map((_, layer) =>
                                Array.from({ length: rows }).map((_, row) =>
                                  Array.from({ length: columns }).map(
                                    (_, column) => (
                                      <CubesContainer
                                        originalBlock={blocks[0]}
                                        layer={layer}
                                        row={row}
                                        column={column}
                                      />
                                    ),
                                  ),
                                ),
                              )
                            }
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>

<style define:vars={{ layers, rows, columns }}></style>
