---
import { blocks, directions, layers } from '@/data';
import Cube from '@/components/cube.astro';
interface Props {
  layer: number;
  row: number;
  column: number;
  originalBlock: string;
}

const { layer, row, column, originalBlock } = Astro.props;

const selectedBlock: string = layer === layers - 1 ? 'grass' : 'air';
const name = `cube-layer-${layer}-row-${row}-column-${column}`;
const id = `${name}-${originalBlock}`;
---

<div class='cubes-container'>
  <div class:list={['cube', originalBlock]}>
    <input
      type='radio'
      name={name}
      id={id}
      checked={selectedBlock === originalBlock}
    />
    {directions.map((direction) => <label for={id} class={direction} />)}
  </div>
  {
    blocks
      .slice(1)
      .map((block, index) => (
        <Cube
          layer={layer}
          row={row}
          column={column}
          block={block}
          name={name}
          selectedBlock={selectedBlock}
        />
      ))
  }
</div>

<style define:vars={{ layer, row, column }}>
  .cubes-container {
    pointer-events: auto;
    translate: calc(var(--column) * var(--cube-size))
      calc(var(--layer) * var(--cube-size)) calc(var(--row) * var(--cube-size));

    &:has(& > .cube.air > input[type='radio']:checked) {
      display: none;
    }

    &:has(& > .cube.stone > input[type='radio']:checked) {
      --background-image: var(--stone-image);
    }

    &:has(& > .cube.grass > input[type='radio']:checked) {
      --background-image: var(--grass-image);
    }

    &:has(& > .cube.dirt > input[type='radio']:checked) {
      --background-image: var(--dirt-image);
    }

    &:has(& > .cube.log > input[type='radio']:checked) {
      --background-image: var(--log-image);
    }

    &:has(& > .cube.wood > input[type='radio']:checked) {
      --background-image: var(--wood-image);
    }

    &:has(& > .cube.leaves > input[type='radio']:checked) {
      --background-image: var(--leaves-image);
    }

    &:has(& > .cube.glass > input[type='radio']:checked) {
      --background-image: var(--glass-image);
    }
  }
</style>
