---
import { directions } from '@/data';

interface Props {
  layer: number;
  row: number;
  column: number;
  block: string;
  name: string;
  selectedBlock: string;
}

const { block, name, selectedBlock, layer, row, column } = Astro.props;

const id: string = `${name}-block`;

function getClass(
  layer: number,
  row: number,
  column: number,
  block: string,
): string {
  return `cube-layer-${layer}-row-${row + 1}-column-${column}-${block}`;
}
---

<div class:list={['cube', block]}>
  <input type='radio' name={name} id={id} checked={selectedBlock === block} />
  {
    directions.map((direction) => (
      <label for={getClass(layer, row, column, block)} class={direction} />
    ))
  }
</div>
