---
interface Props {
  title: string;
  firstButtonClass: string;
  secondButtonClass: string;
  firstButtonTitle: string;
  secondButtonTitle: string;
}

const {
  title,
  firstButtonClass,
  firstButtonTitle,
  secondButtonClass,
  secondButtonTitle,
} = Astro.props;
---

<div class='move-button-pair'>
  <span class='label'>{title}</span>
  <button class={firstButtonClass} title={firstButtonTitle}></button>
  <button class={secondButtonClass} title={secondButtonTitle}></button>
</div>

<style>
  .move-button-pair {
    button {
      display: grid;
      place-content: center;
      inline-size: 3rem;
      block-size: 3rem;
      border: none;
      border-radius: 0.3rem;
      background-color: #0003;
      font-size: 1.5rem;

      &:hover {
        background-color: #0005;
      }

      &:active {
        background-color: #0007;
      }
    }
  }
</style>
